@import '../bower_components/bootstrap/less/bootstrap';

.center {
  margin: 0 auto;
  text-align: center;
}

.container-full {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@main-panel-height: 800px;
@header-height: 26px;
@table-head-height: 37px;

.sessions-panel {
  @panel-height: @main-panel-height/3;
  @panel-body-height: @panel-height - @header-height;
  height: @panel-height;
  .panel-body {
    height: @panel-body-height;
    padding: 0;
  }
}

.details-panel {
  @panel-height: @main-panel-height*2/3;
  height: @panel-height;
  .panel-body {
    height: @panel-height/2 - @header-height;
    overflow: auto;
  }

  .accordion-heading {
    font-size: 2em;
    font-weight: bold;
    .text-center;
  }
}

.panel-header {
  height: @header-height;
}

@media (min-width: @screen-md-min) {
  .sessions-panel {
    height: @main-panel-height;
    @panel-height: @main-panel-height - @header-height;
    .panel-body {
      height: @panel-height;
    }
    tbody {
      height: @panel-height - @table-head-height;
    }
  }

  .details-panel {
    @panel-height: @main-panel-height/2;
    height: @panel-height;
    .panel-body {
      height: @panel-height - @header-height;
    }
  }
}

[ng-click] {
  cursor: pointer;
}

.table-headers {
  tbody tr {
    border: none;
    & > td {
      padding: 5px;
      border-top: none;
    }
    & :first-child {
      white-space: nowrap;
      text-align: right;
      color: @gray-light;
    }
  }
  margin: 0;
}