<div ng-controller="ResponseDetailsCtrl">
    <div class="center action-bar">
        <div class="btn-group">
            <button class="btn btn-info"
                    type="button"
                    ng-repeat="view in availableViews"
                    ng-class="classForView(view)"
                    ng-click="selectView(view)">{{view.title}}</button>
        </div>
        <pm-compressed-body-switch message="response"></pm-compressed-body-switch>
    </div>
    <div pm-include="selectedView.templateUrl" class="details-content" child-init="selectedView.init"></div>
</div>