<div class="row">
    <section class="col-lg-5 col-md-5 sessions-panel">
        <h3 class="center container-height">Sessions</h3>
        <table class="table panel-body">
            <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Url</th>
                <th>Host</th>
                <th>Method</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in sessions"
                ng-click="selectSession(session)">
                <td>{{session.id}}</td>
                <td>{{session.response.statusCode}}</td>
                <td>{{session.request.urlObj.path}}</td>
                <td>{{session.request.urlObj.host}}</td>
                <td>{{session.request.method}}</td>
                <td>{{session.response.contentType}}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="col-lg-7 col-md-7 details-panel">
        <div class="row half-height">
            <h3 class="center panel-header">Request</h3>
            <div class="panel-body">
                <div ng-repeat="(key, value) in request.headers">
                    {{key}}: {{value}}
                </div>
                <br/>
                <pre ng-show="request.bodyAsString">{{request.bodyAsString}}</pre>
            </div>
        </div>
        <div class="row half-height">
            <h3 class="center panel-header">Response</h3>
            <div class="panel-body">
                <div ng-repeat="(key, value) in response.headers">
                    {{key}}: {{value}}
                </div>
                <br/>
                <pre ng-show="response.bodyAsString">{{response.bodyAsString}}</pre>
                <div ng-show="response.displayAsIframe">
                    <iframe ng-src="{{response.iframeSrc}}"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>
