<div class="row">
    <div class="col-lg-5 col-md-5">
        <h3 class="center">Sessions</h3>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Url</th>
                <th>Type</th>
                <th>Method</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="session in sessions"
                ng-click="selectSession(session)">
                <td>{{session.id}}</td>
                <td>{{session.response.statusCode}}</td>
                <td>{{session.request.url}}</td>
                <td>{{session.response.contentType}}</td>
                <td>{{session.request.method}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-7 col-md-7">
        <div class="panel-container">
            <div class="row half-height panel">
                <h3 class="center">Request</h3>
                <div class="panel-body">
                    <div ng-repeat="(key, value) in request.headers">
                        {{key}}: {{value}}
                    </div>
                    <br />
                    <pre>{{request.body}}</pre>
                </div>
            </div>
            <div class="row half-height panel">
                <h3 class="center">Response</h3>
                <div class="panel-body">
                    <div ng-repeat="(key, value) in response.headers">
                        {{key}}: {{value}}
                    </div>
                    <br />
                    <pre>{{response.body}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
