<div class="row">
    <section class="col-lg-5 col-md-5">
        <div ng-include="'scripts/sessions/sessions.html'"/>
    </section>
    <section class="col-lg-7 col-md-7 details-panel">
        <accordion close-others="false">
            <accordion-group heading="Request" is-open="true">
                <div class="panel-body">
                    <div ng-repeat="(key, value) in request.headers">
                        {{key}}: {{value}}
                    </div>
                    <br/>
                    <pre ng-show="request.bodyAsString">{{request.bodyAsString}}</pre>
                </div>
            </accordion-group>
            <accordion-group heading="Response" is-open="true">
                <div class="panel-body">
                    <div ng-repeat="(key, value) in response.headers">
                        {{key}}: {{value}}
                    </div>
                    <br/>
                    <pre ng-show="response.bodyAsString">{{response.bodyAsString}}</pre>
                    <div ng-show="response.displayAsIframe">
                        <iframe ng-src="{{response.iframeSrc}}"></iframe>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </section>
</div>
